body, p, ul, li, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

input:active, :hover, :focus{
    outline: 0;
    outline-offset: 0;
}

.header {
    background: url("../img/main.png") no-repeat center;
    background-size: cover;
}

.background-header-menu{
    background:#222125;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    position: relative;
}

.tablet-case {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.header-menu-dropDown-links{
    width: 70%;
}

.heder-logo{
    display: flex;
    align-items: center;
}

.header-logo-link{
    display: inline-block;
    float: left;
}

.header-logo-img{
    background:  url("../img/css_sprites.png") no-repeat -10px -10px;
    width: 43px;
    height: 41px;
    display: inline-block;
    float: left;
    margin-right: 17px;
}

.header-logo-link:hover .header-logo-img{
    background-position: -73px -10px ;
}

.header-logo-link:hover .header-logo-text{
    color: white;
}

.header-logo-text{
    display: inline-block;
    font-family: Lato, sans-serif;
    color:  #8d81ac;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 12px;
}

.header-menu-item{
    /*margin-right: 46px;*/
}

.header-menu-links{
    display: flex;
    justify-content: space-between;
}

.header-menu-item a {
    font-family: Montserrat, sans-serif;
    color: #8d81ac;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: none;
}

.header-menu-item:last-child{
    margin-right: 0;
}

.header-menu-item a:hover{
    color: white;
}

.header-menu-button{
    font-family: Montserrat, sans-serif;
    line-height: 15px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 19px;
    background-color: #8d81ac;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.header-menu-button:hover{
    color:#8d81ac;
    background-color: white;
}

.header-info{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 490px;
    position: relative;

}

.header-info-name{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 82px;
    font-weight: 700;
}

.header-info-slogan{
    margin-top: 18px;
    font-family: Lato;
    color:  #8d81ac;
    font-size: 30px;
    font-weight: 400;
}

.header-info-version{
    font-family: Montserrat, sans-serif;
    color:  #848e97;
    font-size: 16px;/
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    margin-top: 18px;
    text-transform: uppercase;
}

.header-info-download{
    position: absolute;
    left: 50%;
    margin-left: -195px;
    bottom: -64px;

}

.header-info-download-button{
    display: inline-block;
    background-color:  #8d81ac;
    width: 390px;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    border-radius: 50px;
    padding: 23px 0;
}

.header-info-download-button:hover {
    color:#8d81ac;
    background-color: white;
    border: 1px #635c73 solid;
    padding: 22px 0;
    width: 388px;
}

.header-info-download-trial{
    font-family: Montserrat,sans-serif;
    color:  #848e97;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    margin-top: 19px;
}

.info-part{
    text-align: center;
    padding: 129px 0 70px;

}

.info-part-text-h1{
    font-family: Montserrat, sans-serif;
    color:  #635c73;
    font-size: 54px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 39px;
}

.info-part-text-p{
    font-family: 'Source Sans Pro', sans-serif;
    color:  #323232;
    font-size: 21px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-bottom: 36px;
}

.pagehead ul.pagehead-actions {
    position: relative;
    z-index: 31;
    float: right;
    margin: 0;
}

ul.pagehead-actions{
    display: flex;
    justify-content: center;
}

.pagehead-actions>li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 11px;
    color: #24292e;
    list-style-type: none;
}

.tooltipped {
    position: relative;
}
.btn-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
}
.btn-with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}
.btn {
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.social-count {
    float: left;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(27,31,35,0.2);
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn:hover{
    background: #eff3f6 linear-gradient(-180deg, #fafbfc 0%, #eff3f6 0%);
    border: 1px solid rgba(27, 31, 35, 0.3);
}

.social-count:hover {
    color: #0365d6;
}

.product-part{
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-bottom: 55px;
    overflow: hidden;
    position: relative;
}

.product-part-h2-text{
    font-family: Montserrat, sans-serif;
    color:  #8d81ac;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    position: absolute;
    top: 75px;
    left: 50%;
}

.product-part-all-products{
    width: 40%;
    position: relative;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.product-part-item{
    margin-bottom: 34px;
    display: flex;
    justify-content: space-between;
}

.product-part-item:last-child{
    margin-bottom: 0px;
}

.product-part-item-logo{
    width: 380px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.product-part-item-text{
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.product-part-item-text-chapter{
    color:  #323232;
    font-size: 16px;
}

.product-part-item-text-description{
    color:  #848e97;
    font-size: 14px;
    margin-top: 20px;
}

.product-part-working-window{
    position: absolute;
    left: 48%;
    top: 160px;
    background: url(../img/code.png) no-repeat;
    width: 100%;
    /*height: 100%;*/
    padding-top: 460px;

}

.product-part-working-window-button{
    position: absolute;
    top: 50px;
    left: 50px;
}

.product-part-working-window-title{
    position: absolute;
    top: 50px;
    left: 400px;
    font-family: Montserrat sans-serif;
    color:  rgba(200, 200, 200, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

.product-part-working-window-downtext{
    position: absolute;
    top: 100px;
    left: 55px;
}

.product-part-working-window-files{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}

.product-part-working-window-files:first-child{
    margin-bottom: 10px;
}

.new-color {
    color: #c7c7c7;
}

.visitors{
    padding-top: 87px;
    padding-bottom: 80px;
}

.visitor-file{
    display: flex;
    justify-content: center;
    align-items: center;

}

.visitor-photo{
    margin-right: 23px;
}

.visitor-name{
    font-family: Montserrat, sans-serif;
    color:  #635c73;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}

.visitor-status{
    font-family: Montserrat;
    color:  #8d81ac;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.visitor-text{
    text-align: center;
    margin-top: 48px;
}

.visitor-text-speach{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.visitor-text-speaking{
    font-family: 'Source Sans Pro',sans-serif;
    color:  #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.visitor-text-speaking-email{
    color:  #8d81ac;
}

.visitor-text-time{
    font-family: Montserrat,sans-serif;
    color:  #848e97;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    transform: scaleX(1.0059);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.arrow{
    width: 9px;
    height: 16px;
    margin: 0 100px;
}

.visitor-file-grey-line{
    background-color:  rgba(199, 199, 199, 0.2);
    width: 65%;
    height: 1px;
    border: transparent;
    margin: 57px auto 60px ;
}

.social-buttons {
    width: 780px;
    margin: 60px auto 0 auto;
    /*transform: translateX(-50%);*/
    /*margin-top: 60px;*/
    display: flex;
    justify-content: space-between;

}

.fa {
    padding: 15px 0px 15px 24px;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    width: 216px;

}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-facebook:hover {
    background: white;
    color: #3B5998;
    border: 1px solid #3B5998;
    width: 215px;
    padding: 14px 0px 14px 23px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter:hover {
    background: white;
    color: #55ACEE;
    border: 1px solid #55ACEE;
    width: 215px;
    padding: 14px 0px 14px 23px;
}

.fa-github {
    background: #f3f3f3;
    color: black;
}

.fa-github:hover {
    background: #2b414d;
    color: #f3f3f3;
}

.social-buttons-name {
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}

.first {
    margin-left: 39px;
}

.second {
    margin-left: 40px;
}

.third {
    margin-left: 36px;
}

.social-buttons-item-quantity {
    font-family: Montserrat;
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
    text-align: center;
}

.talks-about-us{
    background: url("../img/Layer 1.png") no-repeat center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.talks-about-us-title{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
}

.talks-about-us-companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.talks-about-us-companies-item{
    width: 30%;
    margin-top: 95px;
}

.talks-about-us-companies-item-logo{
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.talks-about-us-companies-item-text{
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    margin-top: 33px;
}

.second-line {
    margin-top: 98px;

}

.fork-pricing{
    background: url("../img/base.png") no-repeat;
    background-size: cover;
    padding: 30px 10px 75px;
    text-align: center;
}

.fork-pricing-title{
    line-height: 50px;
}

.fork-pricing-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.fork-pricing-item{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.11);
    width: 22%;
    height: 457px;
    margin-top: 122px;
}

.fork-pricing-item-name{
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    padding-top: 46px;
    padding-bottom: 34px;
    background-color: rgba(255, 255, 255, 0.06);
    text-transform: uppercase;
}

.fork-pricing-item-info{
    position: relative;
}

.fork-pricing-item-price{
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 32px;
}

.price-color{
    font-weight: 700;
}

.fork-pricing-item-time{
    font-family: Montserrat, sans-serif;
    color: #8e8d8b;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
}

.purpurle-line{
    background-color: #8d81ac;
    width: 60px;
    height: 5px;
    border: transparent;
    margin-top: 39px;
    margin-bottom: 31px;
}

.fork-pricing-item-support{
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.fork-pricing-item-button{
    display: block;
    position: absolute;
    top: 280px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 12px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 160px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.fork-pricing-item-button:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(127, 109, 120)
}

.fork-pricing-item:nth-child(3){
    width: 25%;
}

.long-item{
    background-color: rgba(0, 0, 0, 0.13);
    height: 560px;
    margin-top: 71px;
}

.third-item-name{
    padding-top: 51px;
    padding-bottom: 43px;
}

.big-price{
    font-size: 82px;
}

.long-item-button{
    top: 350px;
}

.fork-pricing-footer{
    margin-top: 81px;
}

.fork-pricing-footer-text{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    color: rgba(162, 145, 165, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.callback {
    background-color: #f4f4f4;

}

.callback-items {
    padding: 46px 10px 45px;
    display: flex;
    justify-content: space-between;
}

.callback-title {
    font-family: Montserrat, sans-serif;
    color: #635c73;
    font-size: 30px;
    font-weight: 700;
}

.call-information{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

input[type=text]{
    border-radius: 21px;
    background-color: #ffffff;
    /*width: 335px;*/
    height: 42px;
    font-family: Montserrat, sans-serif;
    /*color: #c8cbcf;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    border: transparent;
    padding-left: 26px;
    width: 35%;
}

input[type=submit]{
    border-radius: 21px;
    background-color: #8d81ac;
    width: 18%;
    height: 42px;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    border: transparent;
}

input[type=submit]:hover{
    background-color: white;
    color: #8d81ac;
    border: 1px #635c73 solid ;
}

input::-moz-placeholder{
    font-family: Montserrat, sans-serif;
    color: #c8cbcf;
    font-size: 14px;
    font-weight: 400;
}

input::-webkit-input-placeholder{
    font-family: Montserrat, sans-serif;
    color: #c8cbcf;
    font-size: 14px;
    font-weight: 400;
}

.footer{
    padding: 79px 10px 51px 10px;
}

.footer-items{
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: space-between;
}

.our-company{
    width: 25%;
}

.our-company-logo{
    display: flex;
    align-items: center;
}

.footer-logo-text{
    color: #333333;
}

.footer-logo-text-change{
    color: #8d81ac;
}

.our-company-logo:hover .header-logo-img{
    background:  url("../img/Shape 1.png") no-repeat;
}

.our-company-logo:hover .footer-logo-text{
    color: #8d81ac;
}

.our-company-logo:hover .footer-logo-text-change{
    color: #333333;
}

.our-company-text {
    margin-top: 24px;
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.navigation{
    display: flex;
    flex-direction: column;
    width: 12%;
}

.navigation-title{
    /*font-family: Montserrat, sans-serif;*/
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /*text-align: left;*/
    margin-bottom: 23px;
}

.navigation-item a{
    color: #8d81ac;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

.navigation-item a:hover{
    text-decoration: underline;
}

.our-contacts{
    width: 20%;
}

.telephone{
    color: #3f3f3f;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

.working-time{
    color: #848e97;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.city{
    margin-top: 38px;
    margin-bottom: 20px;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.address{
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.our-info {
    width: 25%;
}

.our-info-title{
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    margin-left: 52px;
}

.our-info-text{
    margin-top: 24px;
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

@media all and (max-width: 1160px){
    .product-part-h2-text{
        font-size: 41px;
    }
}

@media all and (max-width: 992px){
    .container{
        width: 100%;
    }

    .header-menu{
        padding: 22px 20px 62px 20px;
    }

    .tablet-case{
        justify-content: flex-end;
    }

    .header-menu-dropDown-links{
        width: 522px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 22px;
    }

    .header-menu-links{
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    .header-info{
        margin-top: 44px;
    }

    .header-info-name{
        font-size: 72px;
        font-weight: 700;
    }

    .header-info-slogan{
        font-size: 24px;
    }

    .header-info-version{
        font-size: 14px;
    }

    .info-part-text-h1{
        font-size: 42px;
        font-weight: 700;
        line-height: 15px;
    }

    .product-part{
        padding: 54px 37px 47px 30px;
    }

    .product-part-all-products{
        width: 100%;
    }

    .product-part-h2-text{
        font-size: 42px;
        position: static;
        text-align: center;
        margin-bottom: 60px;
    }

    .product-part-working-window{
        position: relative;
        top:72px;
        left: 19%;
        margin-bottom: 60px;
    }

    .arrow-left{
        //width: 20px;
        margin-right: 59px;
        margin-left: 38px;
    }

    .arrow-right{
        width: 25px;
        margin-left: 62px;
        margin-right: 35px;
    }

    .visitor-file-grey-line{
        width: 768px;
    }

    .social-buttons{
        width: 68%;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        //margin-left: 50%;
        //transform: translateX(-50%);
    }

    .social-buttons-item:last-child {
        margin-top: 35px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .talks-about-us{
        padding-left: 17px;
        padding-right: 17px;
    }

    .talks-about-us-title {
        font-size: 42px;
        line-height: 15px;
    }

    .talks-about-us-companies-item:first-child,
    .talks-about-us-companies-item:nth-child(2) {
        margin-top: 96px;
    }

    .talks-about-us-companies-item {
        width: 45%;
        margin-top: 54px;
    }

    .fork-pricing-items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }

    .fork-pricing-item {
        width: 34%;
        margin-top: 42px;
    }

    .fork-pricing-item:nth-child(3) {
        width: 40%;
    }

    .fork-pricing-item:last-child {
        margin-top: 92px;
        margin-right: 20px;
    }

    .fork-pricing-footer{
        margin-top: 45px;
    }

    .callback-items {
        display: block;
        text-align: center;
        padding-top: 26px;
        padding-bottom: 32px;
        margin: 0 31px;
    }

    .call-information{
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        margin-top: 29px;
        margin-left: 50%;
        transform: translateX(-50%);
    }



    input[type=submit] {
        width: 140px;
        margin-top: 26px;
        margin-left: 50%;
        transform: translateX(-50%);
        //border: none !important;
        outline: 0 !important;
        box-shadow: none;
    }

    input[type=text] {
        margin: 0;
        width: 41%;
        border: none;
    }

    .footer {
        padding: 64px 33px 120px 38px;
    }

    .footer-items {
        flex-wrap: wrap;
    }

    .our-company, .navigation,.our-contacts, .our-info{
        width: 45%;
    }

    .our-contacts, .our-info{
        margin-top: 113px;

    }






}
